* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Italiana', sans-serif;
    background-image: linear-gradient(to bottom, #f1a7a9, #f0a0a2, #ef9a9c, #ee9395, #ed8c8f, #ee8f92, #ee9295, #ef9598, #f1a2a5, #f3b0b2, #f5bdbf, #f6cacc);
    color: #000000;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.grid-container>div {
    font-size: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}


.first-child {
    grid-column: 1/11;
}

.first-child nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: rgb(14, 13, 13);
    text-decoration: none;
}

.logo img {
    width: 47px;
}

.first-child nav ul {
    list-style: none;
    display: flex;
}

.first-child nav ul li {
    margin-left: 25px;
}

.first-child nav ul li a {
    font-family: 'Italiana', serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    letter-spacing: 2.5px;
    word-spacing: 5px;
}

.first-child nav ul li a:hover {
    color: #ffd1dc;
}

#menu {
    display: none;
}

#menu-toggle {
    display: none;
}

.second-child {
    grid-column: 1/5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
    padding: 0px;
}

.second-child img {
    width: 100px;
    max-width: 600px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -43px;
}

.intro-text {
    grid-column: 5/11;
}

.second-child h1 {
    font-family: 'Ramaraja', serif;
    font-size: 40px;
    font-weight: 10px;
    letter-spacing: 2px;
    color: black;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 45px;
}

.second-child h1 span {
    font-weight: bold;
}

.second-child p {
    font-family: 'Rokkitt', serif;
    font-size: 15px;
    color: black;
    text-align: center;
    word-spacing: 1.5px;
    line-height: 1.2;
    letter-spacing: 1px;
    max-width: 500px;
    margin: 0 auto;
}

.third-child {
    grid-column: 1/11;
}

.third-child footer {
    font-family: 'Italiana', serif;
    font-size: 15px;
    color: rgb(18, 17, 17);
    text-align: right;
    padding: 5px;
    margin-top: -50px;
    margin-right: -15px;
    letter-spacing: 2px;
}

@media screen and (max-width:1630px) {
    .first-child {
        grid-column: 1/11;
    }

    .first-child nav {
        padding: 10px 0;
    }

    .first-child nav ul {
        margin-left: 25px;
    }

    .first-child nav ul li a {
        font-size: 13px;
    }

    .logo {
        font-family: 'Instrument Sans', sans-serif;
        font-weight: bold;
        font-size: 23px;
    }

    .second-child {
        grid-column: 1/5;
    }

    .second-child img {
        width: 125%;
    }

    .intro-text {
        grid-column: 5/11;
        font-family: 'Ramaraja', serif;
        font-size: 65px;
        font-weight: 10px;
        place-content: center;
    }

    .intro-text p {
        font-family: 'Rokkitt', serif;
        font-size: 20px;
        text-align: center;
    }

    .intro-text h1 {
        text-align: center;
        font-family: 'Ramaraja', serif;
        font-size: 30px;
        font-weight: 10px;
        margin-right: 0px;
        letter-spacing: 2px;
    }

    .third-child {
        grid-column: 1/11;
    }

    .third-child footer {
        font-family: 'Italiana', serif;
        font-size: 13.5px;
        text-align: end;
        margin-top: 35px;
        margin-right: 10px;
    }
}

@media screen and (max-width:1000px) {
    .first-child {
        grid-column: 1/11;
    }

    .first-child nav {
        padding: 10px 0;
    }

    .first-child nav ul {
        margin-left: 25px;
    }

    .first-child nav ul li a {
        font-size: 13px;
    }

    .logo {
        font-family: 'Instrument Sans', sans-serif;
        font-weight: bold;
        font-size: 23px;
    }

    .second-child {
        grid-column: 1/5;
    }

    .second-child img {
        width: 115%;
    }

    .intro-text {
        grid-column: 5/11;
        font-family: 'Ramaraja', serif;
        font-size: 65px;
        font-weight: 10px;
        place-content: center;
    }

    .intro-text p {
        font-family: 'Rokkitt', serif;
        font-size: 20px;
        text-align: center;
    }

    .intro-text h1 {
        text-align: center;
        font-size: 30px;
    }

    .third-child {
        grid-column: 1/11;
    }

    .third-child footer {
        font-size: 13.5px;
        margin-top: 100px;
        margin-right: 10px;
    }
}

@media screen and (max-width:900px) {
    .second-child {
        grid-column: 1 / 11;
    }

    .second-child img {
        width: 90%;
        max-width: 400px;
        height: auto;
        border-radius: 100%;
        margin: 0 auto;
    }

    .intro-text {
        grid-column: 1 / 11;
    }

    .intro-text h1 {
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
        max-width: 90%;
    }

    .intro-text p {
        font-size: 15px;
        text-align: center;
        margin: 0 auto;
        max-width: 90%;
    }

    .third-child {
        grid-column: 1/11;
    }

    .third-child footer {
        font-size: 12.5px;
        margin-top: 50px;
    }
}

@media screen and (max-width:600px) {
    .second-child {
        grid-column: 1 / 11;
    }

    .second-child img {
        width: 90%;
        max-width: 300px;
        height: auto;
        border-radius: 100%;
    }

    .intro-text {
        grid-column: 1 / 11;
    }

    .intro-text h1 {
        font-size: 20px;
        text-align: center;
        margin-top: 25px;
    }

    .intro-text p {
        font-size: 15px;
        text-align: center;
        margin: 0 auto;
        max-width: 90%;
    }

    .third-child {
        grid-column: 1/11;
    }

    .third-child footer {
        font-size: 12.5px;
        margin-top: 100px;
    }
}


@media screen and (max-width: 500px) {

  #menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
  }


  #navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(255, 182, 193);
    padding: 15px 25px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }

  #navLinks.show {
    display: flex;
    align-items: stretch;
    text-align: center;
  }

  #navLinks li {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
   padding: 15px;
  border-radius: 10px;
   margin: 8px 0;
  }

  #navLinks a {
    color: white;
    font-size: 10px;
    text-decoration: none;
    letter-spacing: 1px;
  }

  #navLinks a:hover {
    color: #ffd1dc;
  }


  .logo {
    font-size: 20px;
  }

  .logo img {
    width: 30px;
  }
     
  .second-child img {
    width: 100%;
    border-radius: 100%;
    margin-top: 100px;
  }

  .intro-text h1 {
    font-size: 18px;
  }

  .intro-text p {
    font-size: 15px;
  }

  .third-child {
    grid-column: 1/11;
  }

  .third-child footer {
    font-size: 11px;
    margin-top: 500px;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    font-size: 16px;
  }

  .logo img {
    width: 33px;
  }
    
  .second-child img {
    width: 80%;
    margin-left: 40px;
    border-radius: 50%;
    margin-top: 100px;
  }

  .intro-text {
    grid-column: 1 / 11;
  }

  .intro-text h1 {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
  }

  .intro-text p {
    text-align: center;
    font-size: 13px;
  }


  #menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
  }

  #navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 55px;
    right: 15px;
    background-color: rgb(255, 182, 193);
    padding: 12px 15px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }

  #navLinks.show {
    display: flex;
    align-items: stretch;
    text-align: center;
  }


  #navLinks li {
    margin: 8px 0;
  }

  #navLinks a {
    color: white;
    font-size: 10px;
    text-decoration: none; 
  }

  #navLinks a:hover {
    color: #ffd1dc;
  }

  .third-child {
    grid-column: 1/11;
  }

  .third-child footer {
    font-size: 10px;
    margin-top: 500px;
  }
}
